</div>
<div class="footer-padding"></div>
<div class="footer">
  <p>Made with ❤️ by <a target="_blank" href="https://victor-ribera.firebaseapp.com/">Victor Ribera</a></p>
</div>
</div>
</body>

</html>